.product-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 0 5px lightgrey;
  padding: .75em;
}

.pc_button {
  margin: .5em 0 0;
  padding: .50em;
  background-color: gold;
  /* border: 1px solid #000; */
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
}

.pc_title {
  font-weight: 700;
}