.header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  /* border: 1px solid #000; */
}

.logo {
  width: 100px;
}

.title_text {
  font-weight: 700;
  margin: 0 .20em;
  font-size: 2em;
  text-shadow: 2px 2px 3px #fae75a, 
  3px 3px 2px #b7adff;
}

.title_container {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: .5em 0 0;
}

.nav_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  /* border: 1px solid darkgreen; */
}

.nav_item {
  display: inline-block;
  margin: 0 .5em;
  padding: 8px;
  font-weight: 700;
  /* border: 1px solid darkgreen; */
}

.reserve_now {
  padding: .75em 1.25em;
  background-color: #86E3CE;
  border-radius: 25px;
  text-shadow: 1px 1px 2px #fff;
}

.nav_item:after {
  content: '';
  display: block;
  border-bottom: 3.75px solid #FFDD94;
  width: 0;
  -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
}

.nav_item:hover:after { width: 100%; }