.header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  /* border: 1px solid #000; */
}

.logo {
  /* border: 1px solid #000; */
}


.nav_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* display: flex;
  flex-flow: row; */
  display: flex;
  /* border: 1px solid darkgreen; */
}

.nav_item {
  padding: 8px;
  /* border: 1px solid red; */
}