.contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  width: 450px;
  max-width: 80%;
  padding: 3em;
  border-radius: 25px;
  box-shadow: 0 0 5px lightgrey;
}

label {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}