/* Starts Here */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: 0px;
  border-radius: 10px;
  padding: 1em;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

textarea,
input {
  background-color:#eee;
  border: 0px;
  border-radius: 10px;
  margin: .25em 0 1em;
  padding: .5em .5em;
  /* border-bottom: 3.5px solid lightgrey; */
  font-family: inherit;
  font-size: 1em;
}

label {
  padding-left: .25em;
  font-weight: 700;
  text-transform: uppercase;
}

textarea {
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}

a,
a:hover,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}